* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.btnGreen {
  background-color: palegreen;
  border-radius: 30px;
  padding: 10px;
}

.btnRed {
  background-color: red;
  border-radius: 30px;
  padding: 10px;
}
